asgiref==3.11.1
distlib==0.4.0
Django==6.0.3
filelock==3.25.2
pillow==12.2.0
platformdirs==4.9.4
psycopg==3.3.3
psycopg2-binary==2.9.12
python-discovery==1.2.1
sqlparse==0.5.5
tzdata==2025.3
virtualenv==21.2.0
